<!DOCTYPE html>
<html lang="en" data-theme="mytheme" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FEBC - Midterm - Ecommerce Website</title>

    <!-- htmx -->
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- css styles -->
    <link rel="stylesheet" href="output.css" />
  </head>
  <body>
    <!-- Navbar -->
    <section
      class="mx-10 border px-10 mt-5 rounded-full h-16 flex items-center justify-between text-textGreen"
    >
      <a class="font-medium text-lg" href="#">SHOP</a>
      <a href="/" hx-get="/assets/logo.svg" hx-trigger="load" hx-swap="innerHTML"></a>

      <!-- drawer -->
      <div class="drawer drawer-end w-fit flex items-center">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <!-- Page content here -->
          <label
            for="my-drawer"
            class="cursor-pointer"
            hx-get="/assets/shopbag.svg"
            hx-trigger="load"
            hx-swap="innerHTML"
          ></label>
        </div>
        <div class="drawer-side">
          <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
          <div
            class="menu bg-[#efefef] text-base-content min-h-full w-[25rem] flex flex-col items-center gap-5 p-0"
          >
            <!-- Sidebar content here -->

            <div class="w-full flex items-center gap-3 text-lg text-textGreen p-4">
              <div hx-get="/assets/shopbag.svg" hx-trigger="load" hx-swap="innerHTML"></div>
              <span>1</span>
            </div>
            <div class="text-sm text-secondary font-semibold divide-y-4 divide-secondary">
              Congrats, you've earned FREE SHIPPING!
            </div>
            <div class="w-full h-2 bg-secondary" />
          </div>
        </div>
      </div>
    </section>

    <!-- End Navbar -->
    <script src="script.js"></script>
  </body>
</html>
