<!DOCTYPE html>
<html lang="en" data-theme="mytheme" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FEBC - Midterm - Ecommerce Website</title>

    <!-- htmx -->
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- css styles -->
    <link rel="stylesheet" href="output.css" />
  </head>
  <body>
    <!-- include Navbar -->
    <section hx-get="/components/navbar.html" hx-trigger="load"></section>
    <!-- end navbar -->

    <!-- hero -->
    <section
      class="container sm:grid lg:grid-cols-2 xl:grid-cols-3 gap-8 *:rounded-xl [&_>_div]:h-[37rem]"
    >
      <div class="hidden bg-bg xl:flex items-end justify-center overflow-hidden">
        <img class="h-[80%]" src="/assets/hero/hero-l.png" alt="hero-img" />
      </div>
      <div
        class="flex flex-col items-center justify-between gap-8 [&_>_div]:rounded-xl [&_>_div]:w-full"
      >
        <div class="bg-bg h-[12rem] overflow-hidden">
          <img src="/assets/hero/hero-t.png" alt="hero-img" />
        </div>
        <div
          class="h-4/6 flex flex-col items-center justify-between [&_>_*]:leading-[1] text-primary"
        >
          <p class="text-7xl font-semibold tracking-widest">ULTIMATE</p>
          <p class="text-[10rem] font-bold tracking-wider">SALE</p>
          <p class="tracking-wider">NEW COLLECTION</p>
          <!-- TODO: change path -->
          <a href="#" class="btn btn-primary px-10 mt-3">SHOP NOW</a>
        </div>
        <div class="h-[12rem] overflow-hidden">
          <img src="/assets/hero/hero-b.png" alt="hero-img" />
        </div>
      </div>
      <div class="hidden bg-bg lg:flex items-end justify-center">
        <img class="h-[80%]" src="/assets/hero/hero-r.png" alt="hero-img" />
      </div>
    </section>
    <section class="container flex flex-wrap items-center justify-center gap-10 my-10">
      <img src="/assets/sponslogo/chanel.svg" alt="chanel" />
      <img src="/assets/sponslogo/louis.svg" alt="louis" />
      <img src="/assets/sponslogo/prada.svg" alt="prada" />
      <img src="/assets/sponslogo/calvin.svg" alt="calvin" />
      <img src="/assets/sponslogo/denim.svg" alt="denim" />
    </section>
    <!-- end hero -->

    <!-- deals -->
    <section class="bg-base-200/20 py-20 my-10">
      <div class="container flex gap-2">
        <div class="text-secondary w-1/3 space-y-5">
          <h3 class="font-volk text-3xl">Deals Of The Month</h3>
          <p class="text-sm w-3/4">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur recusandae illo ipsa
            dicta quidem corporis at sequi hic!
          </p>
          <button class="btn btn-primary px-16">Buy Now</button>
        </div>
        <div hx-get="/components/hero/carousel.html" hx-trigger="load" class="flex-1">img</div>
      </div>
    </section>
    <!-- end deals -->

    <!-- include footer -->
    <section hx-get="/components/footer.html" hx-trigger="load"></section>
    <!-- end footer -->

    <script src="script.js"></script>
  </body>
</html>
