@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-courier font-light;
  }

  html,
  body {
    @apply bg-white;
  }
}

@layer components {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
