@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-white;
  }
}

@layer components {
  .btn {
    @apply uppercase rounded-md hover:bg-primary-content hover:text-primary hover:border-primary-content font-inter;
  }

  .btn-md {
    @apply py-3 px-5;
  }

  .btn-lg {
    @apply py-[1.25rem] px-8;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
