<div class="w-fit flex flex-col items-center justify-center gap-5">
  <!-- Carousel container -->
  <div class="overflow-hidden rounded-md">
    <div
      id="carousel"
      class="flex transition-transform duration-300 ease-in-out [&_>_div]:h-[30rem]"
    >
      <!-- Slide 1 -->
      <div class="flex-shrink-0 w-full overflow-hidden">
        <img src="/assets/products/product1.png" alt="Model in black dress" class="w-full" />
      </div>

      <!-- Slide 2 -->
      <div class="flex-shrink-0 w-full overflow-hidden">
        <img src="/assets/products/product4.png" alt="Model in blue dress" class="w-full" />
      </div>

      <!-- Slide 3 -->
      <div class="flex-shrink-0 w-full overflow-hidden">
        <img src="/assets/products/product6.png" alt="Model in casual outfit" class="w-full" />
      </div>

      <!-- Slide 4 -->
      <div class="flex-shrink-0 w-full overflow-hidden">
        <img src="/assets/products/product6.png" alt="Model in casual outfit" class="w-full" />
      </div>

      <!-- Slide 5 -->
      <div class="flex-shrink-0 w-full overflow-hidden">
        <img src="/assets/products/product6.png" alt="Model in casual outfit" class="w-full" />
      </div>
    </div>
  </div>

  <!-- Navigation arrows -->
  <div class="space-x-10">
    <button id="prevButton" class="btn btn-primary btn-circle">
      <img src="/assets/chevron-left.svg" alt="left" />
    </button>
    <button id="nextButton" class="btn btn-primary btn-circle">
      <img src="/assets/chevron-right.svg" alt="right" />
    </button>
  </div>
</div>
