<footer>
  <div class="container h-[40rem] flex items-center justify-between">
    <img class="h-full hidden sm:block" src="/assets/footer/footer-l.png" alt="footer-img" />
    <div class="flex flex-col items-center justify-center gap-6 *:text-dark text-center">
      <h3 class="text-4xl font-volk">Subscribe To Our Newsletter</h3>
      <p class="md:w-3/4 text-sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis ultrices
        sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin
      </p>
      <input
        type="email"
        class="input w-3/4 sm:w-full md:w-3/4 bg-inherit shadow-2xl"
        placeholder="nattapol.eim@gmail.com"
      />
      <button class="btn !text-white">Subscribe Now</button>
    </div>
    <img class="h-full hidden xl:block" src="/assets/footer/footer-r.png" alt="footer-img" />
  </div>
  <div class="border-t-2 mt-10 *:text-dark">
    <div class="container py-4 flex items-center justify-between">
      <!-- TODO: change path -->
      <a class="font-volk text-2xl" href="#">FASCO</a>
      <div class="flex items-center justify-end gap-4 text-sm flex-wrap">
        <!-- TODO: change path -->
        <a href="#">Support Center</a>
        <!-- TODO: change path -->
        <a href="#">Contact</a>
        <!-- TODO: change path -->
        <a href="#">Careers</a>
        <!-- TODO: change path -->
        <a href="#">Blog</a>
        <!-- TODO: change path -->
        <a href="#">FAQ,s</a>
      </div>
    </div>
    <div class="flex items-center justify-center py-5 text-xs">
      <p>Copyright © 2024 Nattapol, Designed by @HamzaAnza</p>
    </div>
  </div>
</footer>
