<footer class="border-t-2 mt-10 *:text-dark">
  <div class="container py-4 flex items-center justify-between">
    <!-- TODO: change path -->
    <a class="font-volk text-2xl" href="#">FASCO</a>
    <div class="space-x-4 text-sm">
      <!-- TODO: change path -->
      <a href="#">Support Center</a>
      <!-- TODO: change path -->
      <a href="#">Contact</a>
      <!-- TODO: change path -->
      <a href="#">Careers</a>
      <!-- TODO: change path -->
      <a href="#">Blog</a>
      <!-- TODO: change path -->
      <a href="#">FAQ,s</a>
    </div>
  </div>
  <div class="flex items-center justify-center py-5 text-xs">
    <p>Copyright © 2024 Nattapol, Designed by @HamzaAnza</p>
  </div>
</footer>
