<nav class="container py-10 flex items-center justify-between text-sm">
  <a class="font-volk text-4xl" href="#">FASCO</a>
  <div class="hidden md:flex items-center gap-5">
    <a class="links group" href="#">
      <span class="link-span">Home</span>
    </a>
    <a class="links group" href="#">
      <span class="link-span">Deals</span>
    </a>
    <a class="links group" href="#">
      <span class="link-span">New Arrivals</span>
    </a>
    <a class="links group" href="#">
      <span class="link-span">About Us</span>
    </a>
    <a class="btn px-3" href="#"><img class="" src="/assets/cart.svg" alt="cart" /></a>
  </div>

  <!-- mobile menu -->
  <div class="drawer drawer-end w-fit md:hidden flex items-center gap-2">
    <a class="py-2 duration-200 rounded-md btn-ghost px-3" href="#"
      ><img src="/assets/cart-black.svg" alt="cart"
    /></a>
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <!-- Page content here -->
      <label for="my-drawer" class="btn">MENU</label>
    </div>
    <div class="drawer-side">
      <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <div
        class="menu bg-base-200 text-base-content min-h-full w-80 p-4 flex flex-col items-center gap-10"
      >
        <!-- Sidebar content here -->
        <p class="text-3xl font-volk mt-10">MENU</p>
        <a class="links group" href="#">
          <label for="my-drawer" aria-label="close sidebar" class="link-span cursor-pointer text-xl"
            >Home</label
          >
        </a>
        <a class="links group" href="#">
          <label for="my-drawer" aria-label="close sidebar" class="link-span cursor-pointer text-xl"
            >Deals</label
          >
        </a>
        <a class="links group" href="#">
          <label for="my-drawer" aria-label="close sidebar" class="link-span cursor-pointer text-xl"
            >New Arrivals</label
          >
        </a>
        <a class="links group" href="#">
          <label for="my-drawer" aria-label="close sidebar" class="link-span cursor-pointer text-xl"
            >About Us</label
          >
        </a>
      </div>
    </div>
  </div>
</nav>
