<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>DEINDE Clone | Checkout</title>

      <!-- htmx -->
      <script
         src="https://unpkg.com/htmx.org@2.0.1"
         integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
         crossorigin="anonymous"
      ></script>

      <!-- AOS -->
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap"
         rel="stylesheet"
      />

      <!-- css styles -->
      <link rel="stylesheet" href="/output.css" />
   </head>
   <body>
      <!-- MAIN -->
      <main class="flex min-h-screen font-courier">
         <div class="w-1/2 border-r border-base-200 p-8 pl-40 flex flex-col items-start gap-4">
            <div hx-get="/assets/logo.svg" hx-trigger="load"></div>
            <div class="text-center w-full">
               <p class="text-sm font-light text-base-300 mb-4">Express Checkout</p>
               <div class="w-full flex items-center gap-4">
                  <button
                     class="rounded-md h-[4rem] w-1/2 bg-[#ffc439] hover:bg-[#ffc439]/80 flex items-center justify-center"
                  >
                     <img src="/assets/payments/paypal.svg" alt="paypal" />
                  </button>
                  <button
                     class="rounded-md h-[4rem] w-1/2 bg-[#000] hover:bg-[#000]/80 flex items-center justify-center"
                  >
                     <img
                        class="h-[5rem] object-center object-cover"
                        src="/assets/payments/google-pay.svg"
                        alt="paypal"
                     />
                  </button>
               </div>
               <div class="divider">OR</div>
            </div>
            <form class="w-full">
               <p class="font-medium mb-4 text-2xl">Contact</p>
               <div>
                  <label for="email"></label>
                  <input
                     class="input input-bordered rounded-md bg-inherit w-full"
                     type="email"
                     name="email"
                     id="email"
                     placeholder="Email"
                  />
               </div>
               <p class="font-medium mb-4 mt-8 text-2xl">Shipping address</p>
               <div class="flex flex-col gap-4">
                  <div class="flex gap-4">
                     <div class="w-1/2">
                        <label for="firstName"></label>
                        <input
                           class="input input-bordered rounded-md bg-inherit w-full"
                           type="text"
                           name="firstName"
                           id="firstName"
                           required
                           placeholder="First name"
                        />
                     </div>
                     <div class="w-1/2">
                        <label for="lastName"></label>
                        <input
                           class="input input-bordered rounded-md bg-inherit w-full"
                           type="text"
                           name="lastName"
                           id="lastName"
                           required
                           placeholder="Last name"
                        />
                     </div>
                  </div>
                  <div>
                     <label for="address"></label>
                     <input
                        class="input input-bordered rounded-md bg-inherit w-full"
                        type="text"
                        name="address"
                        id="address"
                        required
                        placeholder="Address"
                     />
                  </div>
                  <div>
                     <label for="option"></label>
                     <input
                        class="input input-bordered rounded-md bg-inherit w-full"
                        type="text"
                        name="option"
                        id="option"
                        placeholder="Apartment, suite, etc. (optional)"
                     />
                  </div>
                  <div>
                     <label for="phone"></label>
                     <input
                        class="input input-bordered rounded-md bg-inherit w-full"
                        type="text"
                        name="phone"
                        id="phone"
                        placeholder="Phone"
                     />
                  </div>
                  <div class="flex items-center justify-between">
                     <a class="text-primary-content/60" href="/pages/shop.html">< Return to cart</a>
                     <button class="btn btn-lg btn-primary text-sm capitalize font-courier">
                        Continue to shipping
                     </button>
                  </div>
               </div>
            </form>
         </div>
         <div id="checkout-list" class="w-1/2 bg-base-100 p-8">
            <div hx-get="/assets/logo.svg" hx-trigger="load"></div>
         </div>
      </main>
      <!-- END MAIN -->

      <!-- SCRIPT -->
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   </body>
</html>
